<nav class="nav">
  <ul class="navbar">
    <li class="nav-link"><a href="{{url_for('index')}}">Home</a></li>
    <li class="nav-link"><a href="{{url_for('about')}}">About</a></li>
    <li class="nav-link"><a href="{{url_for('contributors')}}">Contributors</a></li>
    <li class="nav-link"><a href="{{url_for('gencsr')}}">Get CSR</a></li>
    <li class="nav-link"><a href="{{url_for('getcert')}}">Get Certificate</a></li>
    <li class="nav-link"><a href="{{url_for('gettoken')}}">Get Token</a></li>
    <li class="nav-link"><a href="{{url_for('revoke')}}">Revoke</a></li>
    <li class="nav-link"><a href="{{url_for('certificates')}}">View Certificates</a></li>
    <li class="nav-link"><a href="{{url_for('pendingreqs')}}">Pending Requests</a></li>
    <li class="nav-link"><a href="{{url_for('viewrevoked')}}">Revoked Domains</a></li>
  </ul>
</nav>